@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  
    html {
      font-family: 'IBM Plex Sans', sans-serif;
      background-attachment: fixed;
      background-image: linear-gradient(
  180deg,
  hsl(0deg 0% 0%) 14%,
  hsl(150deg 100% 0%) 41%,
  hsl(150deg 100% 1%) 52%,
  hsl(150deg 100% 1%) 61%,
  hsl(150deg 100% 2%) 67%,
  hsl(150deg 100% 2%) 73%,
  hsl(145deg 100% 2%) 77%,
  hsl(146deg 100% 3%) 81%,
  hsl(146deg 100% 3%) 85%,
  hsl(147deg 100% 4%) 87%,
  hsl(147deg 100% 4%) 90%,
  hsl(149deg 100% 4%) 92%,
  hsl(149deg 100% 5%) 94%,
  hsl(149deg 100% 5%) 96%,
  hsl(149deg 100% 5%) 98%,
  hsl(149deg 100% 6%) 99%,
  hsl(147deg 100% 6%) 100%,
  hsl(147deg 100% 6%) 101%,
  hsl(147deg 100% 7%) 101%,
  hsl(148deg 100% 7%) 102%,
  hsl(148deg 100% 8%) 102%,
  hsl(148deg 100% 8%) 101%
); 
    }

}
