:root{
    --main-page-color: black;
    --secondary-page-color: white;
    --shadow-color: black;
}
* {
    font-family: 'Poppins', sans-serif;
    margin: 0;
}
html{
    background-color: var(--main-page-color);
}
body{
    position: absolute;
    top: 20%;
    width: 100%;
}
/*NAV*/
.top-menu h1{
    margin-top: auto;
    margin-bottom: auto;
    margin-left: 5%;
}
.fieldsetOne label{
    color: white;
}
.top-menu{
    background-color: var(--secondary-page-color);
   display: flex;
   flex-direction: row;
   width: 100%;
   height: 15%;
   position: fixed;
   top: 0;
   z-index: 100;
   box-shadow: 0px 3px 4px grey;
}
.top-menu ul{
    list-style: none;
    padding: 0;
    text-align: right;
    margin-left: auto;
    display: flex;
    align-items: center;
}
.top-menu li{
    display: inline-block;
    transition: background-color 0.2s;
}
.top-menu a{
    text-decoration: none;
    color: var(--main-page-color);
    padding: 1.5em;
    display: block;
    font-size: 1.4em;
}
.top-menu li:hover{
    background-color: rgb(200, 200, 200);
    cursor: pointer;
}
/*BODY*/
.title1Body{
    color: var(--secondary-page-color);
    text-align: center;
}
.body-main{
    display: flex;
    justify-content: space-between;
}
.body-main__box{
    height: 33em;
    width: 20em;
    background-color: var(--secondary-page-color);
    margin: 3.3em;
    border-radius: 20px;
}
.marginBottom{
    margin-bottom: 1em;
}
.body-main__box h2{
    margin-top: 10px;
    margin-bottom: 1em;
}
.body-main__box-desc-container1{
    margin-top: 0;
}
.body-main__box-logo{
     height: 100%;
     width: 100%;
}
#body-main__box-img1{
    content: url("../images/html-after.png");
    height: 80%;
    width: 80%;
}
#body-main__box-img2{
    content: url("../images/css-after.png");
    height: 80%;
    width: 80%;
}
#body-main__box-img3{
    content: url("../images/javascript.png");
    height: 80%;
    width: 80%;
}
#body-main__box-img4{
    content: url("../images/node.jpg");
    height: 80%;
    width: 80%;
}
.body-main *{
    text-align: center;
}
.body-main__box p{
    margin: 1.1em; 
}
.body-main__box-desc-container hr{
    margin-bottom: 8.5px;
}


/*BODY-TWO*/
.body-two{
    background-color: var(--secondary-page-color);
    padding-top: 2em;
    padding-bottom: 2.5em;
}
.body-two *{
    text-align: center;
}
.body-two__p{
    max-width: 67%;
}
.body-two__box{
    align-items: center;
    justify-content: center;
    flex-direction: column;
    display: flex;
    margin: auto;
    margin-top: 2em;
}
.noselect {
user-select: none;
-webkit-user-select: none;
-moz-user-select: -moz-none;
}
.body-two__box-descs{
    align-items: center;
    justify-content: center;
    padding: 10px;
    max-width: 20em;
}

/*CAJA 1 BODY-TWO*/
#body-two__box1-img{
    content: url('../images/logo-portafolio.png');
    height: 15em;
    width: 15em;
}


/* CAJA 2 BODY-TWO*/
#body-two__box2-img{
    content: url('../images/desarrollo-economico.jpg');
    height: 15em;
    width: 15em;
}
/*Footer*/

footer{
    background-color: var(--main--page-color);
    padding: 1em;
}
footer *{
    color: var(--secondary-page-color);
    font-size: 0.8em;
}
@media (max-width: 900px){
    .body-main{
        flex-direction: column;
    }
    .top-menu ul{
        display: none;
    }
    
    .body-main{
        justify-content: center;
    }
    .body-main__box{
        width: 16.5em;
        margin: auto;
        margin-bottom: 1em;
        margin-top: 1em;
    }
    /*BODY-TWO*/
    .body-two__box{
        max-width: 85%;
    }
    .body-two__box-descs{
        max-width: 15em;
    }
    .footer *{
        text-align: center;
    }
}
